*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga", "kern";
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1dd2af;
    background: linear-gradient(-150deg,#E03BE7,#F04151);
  }
  
  svg {
    height: 100%;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .container {
    position: relative;
    height: 50%;
    width: 50vh;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(25,25,25,.25);
  }
  
  $duration: 1.8s;
  
  @keyframes heart { 
    0% { transform: scale(1) }
    17.5% { transform: scale(0.5) } 
  }
  
  #Heart_2_ {
    cursor: pointer;
    will-change: transform;
    transform-origin: 50% 50%;
    animation: heart $duration cubic-bezier(.17, .89, .32, 1.49);
  }
  
  @keyframes fadeInDown {
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  #Thanks {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #13414c;
    font-size: 5vh;
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    animation: fadeInDown 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: $duration;
  }
  
  @keyframes bubble { 
    0%,100% { transform: scale(0); opacity: 0; stroke-width: 0; stroke: rgba(#E9ACC1, 0); }
    15% { fill: #E9ACC1; }
    50% { transform: scale(1); opacity: 1; stroke: #E9ACC1; stroke-width: 6; }
    100% { fill: rgba(#E9ACC1, 0); }
  }
  
  #Circle {
    fill:#E9ACC1;
    will-change: transform;
    transform: scale(0);
    transform-origin: 50% 50%;
    animation: bubble $duration cubic-bezier(.21, .61, .35, 1);
    animation-fill-mode: forwards;
    animation-delay: ($duration / 6);
  }
  
  @keyframes particle { 
    0%,100% { opacity: 0; }
    40% { transform: translate(0,0) scale(1) }
    80% { opacity: 1; }
    100% {transform: translate(0,0) scale(0) }
  }
  
  [id*=Particle] {
    will-change: transform;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    opacity: 0;
    animation: particle ($duration * 1.5) cubic-bezier(.21, .61, .35, 1);
    animation-fill-mode: forwards;
    animation-delay: ($duration / 4);
  }
  
  @for $i from 1 through 18 {
    [id*=Particle]:nth-child(#{$i}) {
      $dur: random(1000) + 1000ms;
      animation-duration: $dur;
    } 
  }
  
  [id*=Particle]:nth-child(1) {
    transform: translate(500%,500%) scale(0);
  }
  
  [id*=Particle]:nth-child(2) {
    transform: translate(250%,500%) scale(0);
  }
  
  [id*=Particle]:nth-child(3) {
    transform: translate(0,500%) scale(0);
  }
  
  [id*=Particle]:nth-child(4) {
    transform: translate(-250%,500%) scale(0);
  }
  
  [id*=Particle]:nth-child(5) {
    transform: translate(-500%,500%) scale(0);
  }
  
  [id*=Particle]:nth-child(6) {
    transform: translate(-500%,250%) scale(0);
  }
  
  [id*=Particle]:nth-child(7) {
    transform: translate(-500%,0%) scale(0);
  }
  
  [id*=Particle]:nth-child(8) {
    transform: translate(-500%,-250%) scale(0);
  }
  
  [id*=Particle]:nth-child(9) {
    transform: translate(-500%,-500%) scale(0);
  }
  
  [id*=Particle]:nth-child(10) {
    transform: translate(-250%,-500%) scale(0);
  }
  
  [id*=Particle]:nth-child(11) {
    transform: translate(0%,-500%) scale(0);
  }
  
  [id*=Particle]:nth-child(12) {
    transform: translate(250%,-500%) scale(0);
  }
  
  [id*=Particle]:nth-child(13) {
    transform: translate(500%,-500%) scale(0);
  }
  
  [id*=Particle]:nth-child(14) {
    transform: translate(500%,-250%) scale(0);
  }
  
  [id*=Particle]:nth-child(15) {
    transform: translate(500%,0%) scale(0);
  }
  
  [id*=Particle]:nth-child(16) {
    transform: translate(500%,250%) scale(0);
  }
  
  [id*=Particle]:nth-child(17) {
    transform: translate(500%,500%) scale(0);
  }
  
  [id*=Particle]:nth-child(18) {
    transform: translate(500%,500%) scale(0);
  }
  
  .day{
    display: inline;
  }
  .imgLove{
    max-width:100%;
    max-height:100%;
  }
  @import url(https://fonts.googleapis.com/css?family=Palanquin:700);
  
  
  
  
  .modal {
    opacity: 0;
    padding: 50px;
    position: absolute;
    z-index: 1100;
    -webkit-transition: opacity 600ms linear 600ms;
    -moz-transition: opacity 600ms linear 600ms;
    -ms-transition: opacity 600ms linear 600ms;
    -o-transition: opacity 600ms linear 600ms;
    transition: opacity 600ms linear 600ms;
  }
  
  .modal_info {
    background: #FCF9F2;
    padding: 50px 100px;
    text-align: center;
  }
  
  .modal_overlay {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 900;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
  }
  
  .display {
    opacity: 1;
    visibility: visible;
  }
  
  .conceal {
    visibility: visible;
  }
  
  .btn_container {
    height: 100%;
    text-align: center;
  }
  
  .btn_container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  
  .open_button {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    whitespace: normal;
    z-index: 1000;
    -webkit-transition: opacity 100ms linear;
    -moz-transition: opacity 100ms linear;
    -ms-transition: opacity 100ms linear;
    -o-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
  }
  
  a.open_button {
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 66px;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
   
  a.open_button:hover {
    background: #3E465A;
  }
  
  a.open_button.load {
    opacity: 0;
  }
  
  button.modal_close {
    background: #363D4E;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    width: 52px;
    height: 52px;
    position: absolute;
    right: 30px;
    top: 30px;
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    -ms-transition: -ms-transform 600ms;
    -o-transition: -o-transform 600ms;
    transition: transform 600ms;
  }
  
  button.modal_close:hover {
    background: #3E465A;
    -webkit-transform: rotate(360deg) scale(1.10);
    -moz-transform: rotate(360deg) scale(1.10);
    -ms-transform: rotate(360deg) scale(1.10);
    -o-transform: rotate(360deg) scale(1.10);
    transform: rotate(360deg) scale(1.10);
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    -ms-transition: -ms-transform 600ms;
    -o-transition: -o-transform 600ms;
    transition: transform 600ms;
  }
  
  button.modal_close span, span:before, span:after {
    background: #FFFFFF;
    content: '';
    cursor: pointer;
    display: block;
    height: 2px;
    position: absolute;
    width: 20px;
  }
  
  button.modal_close span:first-child {
    background: none;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  button.modal_close span:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  button.modal_close span:after {
    -webkit-transform: translateY(-2px) rotate(-45deg);
    -moz-transform: translateY(-2px) rotate(-45deg);
    -ms-transform: translateY(-2px) rotate(-45deg);
    -o-transform: translateY(-2px) rotate(-45deg);
    transform: translateY(-2px) rotate(-45deg);
    top: 2px;
  }